*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 18px;
	background-color: white;
	background-image: url("https://Namrata23-svg.github.io/phone.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

p.heading{
	color:blue;
	text-align: left;
	font-style: italic;
}
p.logo{
	color:red;
}
h1.hp{
	text-align: center;
	text-decoration: underline;
}
caption{
	color: blue;
	font-size: 24px;
	font-style: bolder;
	text-align: left;

}
a{
	color: red;
	font-size: 24px;
}
